{% extends 'base.html' %}


{% block content%}
{% include 'navbar.html'%}

{% if user %}
<header>
    <h1>Welcome, {{user}}</h1>
    <div id="balance">
        <p>your balance</p>
        <span>{{balance}}</span>
    </div>
    
</header>
<div>
<header>
    <a class="crud-button" href="{{url_for('add_expense')}}"><span class="material-symbols-outlined">add</span></a>
        
    <form action="#" id="filter-expense" method="post">
        <input type="date" name="start-date" id="filter-date" onchange="this.form.submit()" value="{{selected_date[0]}}">
        <input type="date" name="end-date" id="filter-date" onchange="this.form.submit()" value="{{selected_date[1]}}">
        
        <div>
            <input type="radio" name="filter-date" id="past-week" value="past-week" onchange="this.form.submit()">
            <label for="past-week">Past Week</label>
        </div>
        <div>
            <input type="radio" name="filter-date" id="past-month"  value="past-month" onchange="this.form.submit()">
            <label for="past-month">Past Month</label>
        </div>
        <div>
            <input type="radio" name="filter-date" id="last-three-months"  value="last-three-months" onchange="this.form.submit()">
            <label for="last-three-months">Last 3 Months</label>
        </div>
    </form>
</header>
    {% for i in expenses%}
    
    <div class="expense">
        <div id="info">
            <header>
                <p>{{i[2]}}</p>
                <p>{{i[3]}}</p>
            </header>
            <div>
                <h2>{{i[1]}}</h2>
                <h3>{{i[4]}}</h3>
            </div>
            
        </div>
        <div id="actions">
            <a class="crud-button" id="delete" href="{{url_for('delete_expense', id=i[5])}}"><span class="material-symbols-outlined">delete</span></a>
            <a class="crud-button" id="edit" href="{{url_for('edit_expense', id=i[5])}}"><span class="material-symbols-outlined">edit</span></a>
        </div>
    </div>

    {% endfor %}
    {% else %}
    <h1 class="quote">Keep track your outcome.</h1>
{% endif%}
{% endblock%}